.header {
  background-color: rgb(139, 215, 139);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  display: flex;
  width: fit-content;
  align-self: center;
  line-height: 60px;
}

.header-logo > div {
  margin: 0;
  height: 60px;
}

h1 {
  margin: 0;
  color: white;
}

.icon {
  height:40px;
  width: 40px;
  margin: 10px;
}

@media screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    height: 60px;
    justify-items: space-between;
  }

  .header-logo {
    justify-self: auto;
  }
}