.header {
  background-color: rgb(139, 215, 139);
  line-height: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}

h1 {
  margin: 0;
  color: white;
}

.icon {
  height:40px;
  width: 40px;
  margin: 10px;
}